/* $offcanvas-horizontal-width:        250px;
$offcanvas-vertical-height:         30vh;
$offcanvas-transition-duration:     .6s; */
/* Clases de sass */

/* ---------------------------- */
/* Variables Sass */
$initialPosition: 250px;
$primaryColor: rgb(62 92 122);
$minimunSpace: 0.5rem;
$full-round: 9999px;

a,
ol,
ul,
li {
    list-style: none;
    color: white;
    text-decoration-line: none;
}
/* ---------------------------- */
/* Sección de la cabecera */
header {
    background: #f6f2f2;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px;
    height: 60px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100vw; /* Full width */
    z-index: 10;
    /* Transición del margen */

    section {
        #logo-img {
            width: 3rem;
            border-radius: $full-round;
        }
    }
    /* Estilo del icono del menú */
    #menu-icon,
    #expand-icon {
        background-color: transparent;
        border-style: none;
    }
}

#head-content {
    /* Transición del margen */
    margin-left: $initialPosition;
    transition: margin-left 0.5s;

    #section-perfiles {
        margin-right: $initialPosition;
        transition: margin-right 0.5s;
    }
}

/* ---------------------------- */
/* Sección del contenido principal */
main {
    height: 100vw;
    width: 100vw;
    padding: 70px 30px 20px;
    background-color: aliceblue;
    overflow: scroll;

    //Add button
    button {
        margin-bottom: calc($minimunSpace * 2);
    }
}



#main-content {
    /* Transición del margen */
    transition: margin-left 0.5s;
    margin-left: $initialPosition;
}

/* ---------------------------- */
/* Tamaño de los iconos */
i {
    font-size: 1.3rem;
}

/* ---------------------------- */
/* Sección de perfiles */
.section-perfiles {
    display: flex;
    gap: 1em;
    margin: 0px 5px 0px 0px;
    /* ---------------------------- */
    /* Imagen de perfil */
    .perfil {
        border-radius: $full-round;
        width: 2rem;
        height: 2rem;
    }
}

// Navbar
#sidenav-guest {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $primaryColor;
    overflow-x: hidden;
    padding-top: 20px;
}

// Main Navbar
#mySidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $primaryColor;
    overflow-x: hidden;
    padding-top: 20px;
    /* Transición del margen */
    width: $initialPosition;
    transition: 0.5s;
    /* título de la sección nav */
    .header-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        gap: 1rem;
        margin-bottom: 1rem;
        padding-bottom: $minimunSpace;
        /* Título del nav */
        h1 {
            text-shadow: 1px 1px;
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 700;
            color: white;
        }
        img {
            border-radius: $full-round;
        }
    }

    /* Barra de separación */
    hr {
        margin-right: $minimunSpace * 2;
        color: white;
    }

    /* Colapsible components */
    .navs-collapsible {
        color: white;
        margin-top: 1rem;

        .icon-text-chevron-container {
            padding-right: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-right: $minimunSpace * 2;
            margin-bottom: $minimunSpace * 2;
            &:hover {
                cursor: pointer;
            }
        }

        .sublist-container {
            li {
                margin-top: $minimunSpace;
            }
        }

        /* Comportamiento del chevron y la sublista */
        .chevron {
            transition: transform 0.5s ease;
        }
        .chevron.rotate {
            transform: rotate(90deg);
        }
        .sublist-container.hidden {
            display: none;
        }
    }
    /* ---------------------------- */
    /* Estilo de la clase seleccionada */
    .selected {
        border-left: 3px solid #6adee2;
        background-color: rgba(126, 123, 129, 0.199);
        padding-left: calc($minimunSpace / 2);
    }
}

// Table style
table {
    width: 100%;

    td,
    th,
    span {
        text-align: left !important;
    }

    button {
        border: 1px solid black;
        border-radius: 50%;
        padding: 0.3rem 0.5rem 0.3rem;
        background-color: transparent;
        color: rgb(81, 87, 199);
        &:hover {
            background-color: rgb(224, 245, 249);
            transition: background-color 0.5s;
        }
    }

    img {
        border-radius: $full-round;
    }
}

